<!DOCTYPE HTML>
<!-- Club Page for OpenSource UW Website -->
<html lang = "en">
<head>
    <meta charset = "UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name = "description" content="Introduction of the club!"/>
	<meta name = "keywords" content="club, opensource UW, University of Washington, UW"/>
	<meta name = "tobots" content="index,follow"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='temporaryicon.ico') }}"/>
    <!-- icon might change -->
    <title>OpenSource Team</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel = "stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include "_navbar.html" %}
    {% block content %}{% endblock %}
    {% include "_footer.html" %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>


