{% extends "base.html" %}
{% block content %}
<div class = "container">
	<section id="logo">
		<div class="logo">
			<img src= "{{ url_for('static', filename='nameoflogo.png') }}" alt="Logo">
		</div>
	</section>

	<section id="header">
		<header class="header">
			<h1>OpenSource</h1>
		</header>
	</section>
	<section id="team photo">

	</section>
	<section id="calender">
		<iframe src="https://calendar.google.com/calendar/embed?title=OpenSource%20Calendar%20&amp;height=600&amp;wkst=2&amp;bgcolor=%2366cccc&amp;src=uw.edu_jr6qovp1lp669i4dqcjlqr9554%40group.calendar.google.com&amp;color=%23853104&amp;ctz=America%2FLos_Angeles"
		style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no">
		</iframe>
	</section>
	<section id="photoes">
		<h2>Highlights</h2>
		<!--add the photos of the people-->
	</section>
</div>
{% endblock %}