{% extends "base.html" %}

{% block content %}
    <section id = "joinus">
        <div class = "container">
            <h1>Join Us</h1>
            <p>Join OpenSource UW to:
                <ul>
                    <li>Meet people passionate about programming just as you and develop open-source projects collaboratively.</li>
                    <li>Learn and Practice programming knowledge in web development, game development, data science, and more.</li>
                    <li>Get mentorship and guidance from real industry programmers and faculty advisors.</li>
                </ul>
            </p>
            <p>If you want to join us, sign up here! <a href="dummylink">Application Form</a></p>
        </div>
    </section>
{% endblock %}