{% extends "base.html" %}

{% block content %}
    <section id = "joinus">
        <div class = "joinus">
            <h1>Join Us</h1>
            <p>Join OpenSource UW to:
                <ul>
                    <li>meet people passionate about programming just as you and develope open source projects collobrately.</li>
                    <li>learn and practice programming knowledge in web development, game development, data science, and more.</li>
                    <li>get mentorship and guidance from real industry programmers and faculty advisors.</li>
                </ul>
            </p>
            <a href="dummylink"> Application Form</a>
        </div>
    </section>
{% endblock %}