{% extends "base.html" %}

{% block content %}
    <section id = "supporter">
        <div class = "container">
            <h1>Supporter</h1>
            <h1><em>Interested in sponsoring?</em></h1>
		    <p>Please <a href="{{url_for('contact')}}">contact</a> us at <a href="email">email</a> for more information</p>
	        <h2><em>Current supporters</em></h2>
		    <img src="first_supporter.jpg" alt="supporter's logo">
		    <p>Brief summary for the supporter</p>
        </div>
    </section>
{% endblock %}