{% extends "base.html" %}

{% block content %}
    <section id = "introduction">
	    <div class = "container">
            <div>
                <header class = "intro">
                    <h1>Meet Our Team</h1>
                </header>
            </div>
	        <div>
                <img id="Ethan" src="{{url_for('static', filename='Ethan.png')}}" width="240" height="240" alt="Ethan">

                <p>Ethan<br>
                    I am sophomore, Computer Science major.
                    Believe in teamwork and collaboration.
                    Love cycling and watercolor</p>
            </div>
            <div>
                <img id="Kangwoo" src="{{url_for('static', filename='Kangwoo.png')}}" width="240" height="240" alt="Kangwoo">

                <p>Kangwoo<br>
                    I am Junior Informatics student and want to be a full-stack developer.
                    I enjoy listening music and watching a movie.
                    Through this club, I expect to extend and improve my coding skills.</p>
            </div>
            <div>
                <img id="Kimmy" src="{{url_for('static', filename='Kimmy.png')}}" width="240" height="240" alt="Kimmy">

                <p>Kimmy<br>
                    I am a sophomore student. My intended major is computer science.
                    Now I’m learning database management.I like riding a longboard, and taking photographs.
                    I hate that I cannot hold the camera and ride a longboard at the same time.</p>
            </div>
            <div>
                <img id="Kris" src="{{url_for('static', filename='Kihwan.jpeg')}}" width="240" height=
    "240" alt="Kris">

                <p>Kris<br>
                    I am a junior; major: CSSE
                    I am not a big fan of chicken anymore (don’t judge me)
                    I am not good at programming but love doing it<p>
            </div>
            <div>
                <img id="Natalia" src="{{url_for('static', filename='Natalia.png')}}" width="240" height=
    "240" alt="Natalia">
                <p>Natalia<br>
                    I am sophomore, intended Computer Science.
                    I love adventures and taking risks, and with every step I find something new to learn from.
                    Love hiking and martial arts.<p>
            </div>
            <div>
                <img id="Brian" src="{{url_for('static', filename='Brian.png')}}" width="240" height=
    "240" alt="Brian">
                <p>Brian<br>
                    I am a sophomore; intended major: Computer Science (of course)
                    I like making films, music, and websites.
                    I do not like figuring out what the heck is wrong with my JavaScript.</p>
            </div>
             <div>
                <img id="Henry" src="{{url_for('static', filename='Henry.png')}}" width="240" height=
    "240" alt="Henry">
                <p>Henry<br>
                    I am a sophomore intending to major in computer science.
                    I love playing tennis.
                    Would love to apply my skills and learn more through doing project with this club</p>
            </div>
             <div>
                <img id="Jize" src="{{url_for('static', filename='Jize.png')}}" width="240" height=
    "240" alt="Jize">
                <p>Jize<br>
                    I am a freshman who is intended to be in the computer science department.
                    I am really interested in data science and machine learning projects & techniques.</p>
            </div>
       </div>
    </section>
{% endblock %}