{% extends "base.html" %}

{% block content %}
    <section id = "introId">
        <header class = "intro">
            <h1>Meet Our Team</h1>
            <p>A group of enthusiastic coding people.</p>
        </header>
    </section>
    <section id = "introduction">
	    <div>
            <div>
               <img id="Annabelle" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508920081145&di=e2a352f38605cd7640d3aacf568ac8d3&imgtype=0&src=http%3A%2F%2Fimg.my.csdn.net%2Fuploads%2F201412%2F30%2F1419921201_5895.png" width="240" height=
    "240" alt="Annabelle">
               <p>Annablle<br>
                Intro...</p>
            </div>
            <div>
                <img id="Brandon" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508920081145&di=e2a352f38605cd7640d3aacf568ac8d3&imgtype=0&src=http%3A%2F%2Fimg.my.csdn.net%2Fuploads%2F201412%2F30%2F1419921201_5895.png" width="240" height=
    "240" alt="Brandon">
                <p>Brandon<br>
                Intro...</p>
            </div>
            <div>
                <img id="Eric" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508920081145&di=e2a352f38605cd7640d3aacf568ac8d3&imgtype=0&src=http%3A%2F%2Fimg.my.csdn.net%2Fuploads%2F201412%2F30%2F1419921201_5895.png" width="240" height=
    "240" alt="Eric">
                <p>Eric<br>
                Intro...</p>
            </div>
	        <div>
                <img id="Ethan" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508920081145&di=e2a352f38605cd7640d3aacf568ac8d3&imgtype=0&src=http%3A%2F%2Fimg.my.csdn.net%2Fuploads%2F201412%2F30%2F1419921201_5895.png" width="240" height=
    "240" alt="Ethan">

                <p>Ethan<br>
                Intro...</p>
            </div>
            <div>
                <img id="Kangwoo" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508920081145&di=e2a352f38605cd7640d3aacf568ac8d3&imgtype=0&src=http%3A%2F%2Fimg.my.csdn.net%2Fuploads%2F201412%2F30%2F1419921201_5895.png" width="240" height=
    "240" alt="Kangwoo">

                <p>Kangwoo<br>
                Intro...</p>
            </div>
            <div>
                <img id="Kimmy" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508920081145&di=e2a352f38605cd7640d3aacf568ac8d3&imgtype=0&src=http%3A%2F%2Fimg.my.csdn.net%2Fuploads%2F201412%2F30%2F1419921201_5895.png" width="240" height=
    "240" alt="Kimmy">

                <p>Kimmy<br>
                Intro...</p>
            </div>
            <div>
                <img id="Kris" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508920081145&di=e2a352f38605cd7640d3aacf568ac8d3&imgtype=0&src=http%3A%2F%2Fimg.my.csdn.net%2Fuploads%2F201412%2F30%2F1419921201_5895.png" width="240" height=
    "240" alt="Kris">

                <p>Kris<br>
                Intro...<p>
            </div>
            <div>
                <img id="Natalia" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508920081145&di=e2a352f38605cd7640d3aacf568ac8d3&imgtype=0&src=http%3A%2F%2Fimg.my.csdn.net%2Fuploads%2F201412%2F30%2F1419921201_5895.png" width="240" height=
    "240" alt="Natalia">
                <p>Natalia<br>
                Intro...<p>
            </div>
            <div>
                <img id="Tony" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508920081145&di=e2a352f38605cd7640d3aacf568ac8d3&imgtype=0&src=http%3A%2F%2Fimg.my.csdn.net%2Fuploads%2F201412%2F30%2F1419921201_5895.png" width="240" height=
    "240" alt="Tony">
                <p>Tony<br>
                Intro...</p>
            </div>
       </div>
    </section>
{% endblock %}